<section id="about">
  <div class="borderer start-width start-height"></div>
  <div class="content start-style">
    <h2>About</h2>
    <p>Hey there! I'm an aspiring designer of many things. My goal is to put creative, beautiful, and fun experiences and art out into the world. And, most important of all, I want to make people's lives better.</p>
    <p>Right now, I make things for fun. If you'd like to talk, feel free to email me at <a href="mailto:npelletier3435@gmail.com">npelletier3435@gmail.com</a></p>
  </div>
</section>