<nav>
  <div class="borderer start-height"></div>
  <div class="content start-style">
    <ul class="header">
      <li class="name">Niko Pelletier</li>
      <li class="subtitle">{{subtitle}}</li>
    </ul>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#resume">Resume</a></li>
    </ul>
    <ul class="switch">
      <li>{{>dark-mode-switch/dark-mode-switch}}</li>
    </ul>
  </div>
</nav>