<svg id="sunsvg" viewBox="0 0 200 200" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs1" />
  <g id="layer1">
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 100,33.486461 V 16.513539" id="path190-3" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 100,183.48646 V 166.51354" id="path190-3-2" />
    <circle style="stroke-opacity:1;stroke-dasharray:none;stroke-width:6;stroke:currentColor;fill-rule:nonzero;fill-opacity:1;fill:currentColor;opacity:1;" id="path1" cy="100" cx="100" r="47" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 147.03217,52.967825 159.03384,40.966157" id="path5" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 40.966158,159.03384 52.967824,147.03218" id="path6" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="m 166.51353,99.999997 16.97293,1e-6" id="path7" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 16.51354,99.999999 33.486455,100" id="path8" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="m 147.03217,147.03217 12.00167,12.00167" id="path9" />
    <path style="fill:none;stroke:currentColor;stroke-width:25;stroke-linecap:round;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;stroke-dashoffset:0;paint-order:normal" d="M 40.966158,40.966157 52.96782,52.967821" id="path10" />
  </g>
</svg>